<div class="align-items-center ">
  <!-- <input type="button" value="Delete"> -->
  <div class="card">
    <div class="card-body">
      <h4>Customer ID: {{ customerInfo.id }}</h4>
      <h4>
        Full Name: {{ customerInfo.first_name }} {{ customerInfo.last_name }}
      </h4>
      <h4>Email: {{ customerInfo.email }}</h4>
    </div>
    <form (submit)="addCard($event)" class="form-row align-items-center">
      <input
        type="text"
        [(ngModel)]="card"
        name="card"
        class="form-control col-md-6"
        placeholder="New Credit Card"
      />
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
<div class="table-responsive mobile">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Transactions ID</th>
        <th scope="col" class="cardTh">Card Number</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody *ngFor="let person of person">
      <tr class="thead-light table-light">
        <th scope="row">#{{ person.id }}</th>
        <td class="cardtd ">{{ person.card_number }}</td>
        <td>${{ person.balance }}</td>
      </tr>
    </tbody>
  </table>
</div>
